<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%=@product.name%></h2>
    <div class="">
      <p>Price: <%=@product.price%></p>
      <p>Limit: <%=@product.limit%></p>
    </div>
  </body>
</html>
