<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2>Locations:</h2>
    <%=link_to "Add New Location", new_location_path%>
    <ul>
      <%@locations.each do |location|%>
        <li><%=link_to location.name, location_path(location)%> - <%=location.address%></li>
      <%end%>
    </ul>
  </body>
</html>
