<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2> <%=@location.name%> </h2>
    <div>
      <span>Address <%=@location.address%></span>
    </div>
    <div class="">
      <%=link_to "Add a Machine", new_location_machine_path(@location, Machine.new) %>
    </div>
  </body>
</html>
